<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
<h1>질문 리스트</h1>
{% if question_list %}
    <ul>
        {% for question in question_list %}
            <li><a href="{% url 'pybo:detail' question.pk %}">{{ question.subject }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <h1>등록된 질문이 없습니다.</h1>
{% endif %}
<form action="{% url 'pybo:question_create' %}" method="post">
    {% csrf_token %} {# 실제로 웹 브라우저에서 작성된 form인지 확인하는 보안관련 코드 #}
    <h3>질문 제목</h3>
    <textarea name="subject" id="subject" rows="15"></textarea>
    <br>
    <h3>질문 내용</h3>
    <textarea name="content" id="content" rows="15"></textarea>
    <input type="submit" value="질문 등록">
</form>
</body>
</html>
